<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
<listeners>
<listener class-name="Academy.Listeners"></listener>
</listeners>

  <test name="Operation">
    <classes>
      <class name="Academy.RediffHomePageTest"/>
      </classes>
      </test>
      
      <test name="Valid">
      <classes>
      <class name="Academy.ValidateTest"/>
      </classes>
      </test>
      
      <test name="Verify">
      <classes>
      <class name="Academy.VerifyingTest"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
